@page
@model EShope.Pages.Customer.EditModel

@{
    ViewData["Title"] = "Edit";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<h1 class="mb-3">Edit Customer</h1>


<form method="post" class="needs-validation" novalidate>
    @Html.AntiForgeryToken()
    
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    @* Hidden Id *@
    <input asp-for="Customer.Id" type="hidden" />

    <div class="container">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.Family" class="form-control" />
                <span asp-validation-for="Customer.Family" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Birth:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.Birth" type="date" class="form-control" />
                <span asp-validation-for="Customer.Birth" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">National Code:</label>
            <div class="col-sm-10">
                @* به‌جای number بهتره text استفاده بشه تا صفرهای ابتدایی حفظ شوند *@
                <input asp-for="Customer.NationalCode" class="form-control" />
                <span asp-validation-for="Customer.NationalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">State:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.addressDto!.State" class="form-control" />
                <span asp-validation-for="Customer.addressDto!.State" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.addressDto!.City" class="form-control" />
                <span asp-validation-for="Customer.addressDto!.City" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Address Detail:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.addressDto!.AdressDetail" class="form-control" />
                <span asp-validation-for="Customer.addressDto!.AdressDetail" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Telephone:</label>
            <div class="col-sm-10">
                <input asp-for="Customer.addressDto!.Tellphone" type="tel" class="form-control" />
                <span asp-validation-for="Customer.addressDto!.Tellphone" class="text-danger"></span>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-10 offset-sm-2 d-flex gap-2">
                <button type="submit" class="btn btn-warning">Save Changes</button>
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
